Repository artischockee/localiser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

"*.{js,ts,jsx,tsx}":
  - "eslint --fix"
  - "prettier --write"
"*.{md,json}":
  - "prettier --write"

feat: Add useEffect which changes locale of the Localiser instance dynamically
  src/LocaleProvider.tsx
Due: eslint --fix, prettier --write

feat: Use external localiser instance instead of the scoped one
  src/index.ts
Due: eslint --fix, prettier --write

feat: Add 'currentLocale' field to LocaliserInstance; update tests
  src/LocaliserInstance.ts
  src/__tests__/LocaliserInstance.tsx
  src/__tests__/__snapshots__/LocaliserInstance.tsx.snap
Due: eslint --fix, prettier --write

feat: Rename LocaliserInstance to Localiser; fix imports
  src/LocaleContext.ts
  src/LocaleProvider.tsx
  src/Localiser.ts
  src/__tests__/Localiser.tsx
  src/__tests__/__snapshots__/Localiser.tsx.snap
  src/__tests__/index.ts
  src/index.ts
  src/instance.ts
Due: eslint --fix, prettier --write

other: Remove useless initContext function
  src/LocaleContext.ts
  src/__tests__/LocaleContext.tsx
  src/index.ts
Due: eslint --fix, prettier --write

other: Rename LocaleContextModel to LocaliserParams
  src/Localiser.ts
  src/index.ts
  src/types.ts
Due: eslint --fix, prettier --write

md: Update README.md
  README.md
Due: prettier --write

3.0.0
  package.json
Due: prettier --write

other: Rename useLocaliser in its own file It was done to prevent IDE's from suggesting an autocomplete pointing to this internal file
  src/useLocaliser.ts
Due: eslint --fix, prettier --write

3.0.1-0
  package.json
Due: prettier --write

docs(types): change 'any' to 'unknown' throughout the code
  src/Localiser.ts
  src/types.ts
  src/useLocaliser.ts
  src/utils.ts
Due: eslint --fix, prettier --write

style: change 'useLocaliser' internal name
  src/useLocaliser.ts
Due: eslint --fix, prettier --write

chore: update react (and react-dom) versions
  package.json
Due: prettier --write

3.0.1
  package.json
Due: prettier --write

refactor: extract required React types and functions by using named exports
  src/LocaleProvider.tsx
  src/__tests__/LocaleContext.tsx
  src/__tests__/Localiser.tsx
Due: eslint --fix, prettier --write

chore: add yarn.lock to .gitignore
  .gitignore
Due: none

chore: replace '@types/react' package (v17.0.0) from dependencies to devDependencies
  package.json
Due: prettier --write

3.0.2
  package.json
Due: prettier --write

chore: add 'settings.react.version' to ESLint config
  .eslintrc.yml
Due: none

chore: mark react-related dependencies with '>='
  package.json
Due: prettier --write

3.0.3
  package.json
Due: prettier --write

chore: set '@types/react' to exact 16.9.46; replace 'react' from dependencies to peerDependencies
  package.json
Due: prettier --write

3.0.4
  package.json
Due: prettier --write

chore: add react v16.13.1 to devDependencies
  package.json
Due: prettier --write

3.0.5-0
  package.json
Due: prettier --write

chore(package.json): add "author" as object; update dependencies (react is to v17)
  package.json
Due: prettier --write

chore(.eslintrc): replace configurations; set "parserOptions.ecmaVersion" to "2020"; add "parserOptions.ecmaFeatures.jsx"
  .eslintrc.yml
Due: none

chore(tsconfig): add "moduleResolution": "node", set "jsx" to "react-jsx"
  tsconfig.json
Due: prettier --write

refactor: provide additional types
  src/LocaleProvider.tsx
  src/index.ts
  src/useLocaliser.ts
  src/utils.ts
Due: eslint --fix, prettier --write

refactor: remove "import React" statement since new JSX transform is used
  src/LocaleProvider.tsx
  src/__tests__/LocaleContext.tsx
  src/__tests__/Localiser.tsx
Due: eslint --fix, prettier --write

4.0.0
  package.json
Due: prettier --write
